* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 39.056px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 19.528px;
  line-height: 1.2;
  font-weight: 700;
}
@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 48.832px;
  }
}

h2,
.h2 {
  font-size: 31.248px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 15.624px;
  line-height: 1.2;
  font-weight: 600;
}
@media (min-width: 992px) {
  h2,
  .h2 {
    font-size: 39.056px;
  }
}

h3,
.h3 {
  font-size: 25.008px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 12.504px;
  line-height: 1.2;
  font-weight: 500;
}
@media (min-width: 992px) {
  h3,
  .h3 {
    font-size: 31.248px;
  }
}

h4,
.h4 {
  font-size: 20px;
  line-height: 1.5;
}
h5,
.h5 {
  font-size: 16px;
  line-height: 1.5;
}
h6,
.h6 {
  font-size: 12.8px;
  line-height: 1.5;
  font-weight: 500;
}
p,
.p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1em;
}
small,
.small {
  font-size: 14px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.w-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.btn, .arival-offer-section .container .arival-offer-container .arival-offer-right .arival-offer-right-content button, .arival-offer-section .container .arival-offer-container .arival-offer-left .arival-offer-left-content button, .popular-product-section .container .popular-product-content .popular-products-offer .offer-text button, .nav-for-mobile ul li .btn-register, .nav-for-mobile ul li .btn-login, .navbar-section header nav .menu-toggle-button, .navbar-section header nav .btn-register, .navbar-section header nav .btn-login:hover, .navbar-section header nav .btn-login {
  border: 1px solid #179800;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: ease 0.3s;
  background: none;
}

.section-heading, .arival-offer-section .container h3, .popular-product-section .container h3, .service-container h3 {
  padding-top: 80px;
  padding-bottom: 48px;
  font-weight: 600;
  color: #179800;
}
@media (min-width: 768px) {
  .section-heading, .arival-offer-section .container h3, .popular-product-section .container h3, .service-container h3 {
    padding-top: 100px;
  }
}

.navbar-section {
  min-height: 80px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background: #ffffff;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(244, 242, 237) 50%, rgb(240, 236, 228) 100%);
  position: sticky;
  z-index: 100;
  align-content: center;
  top: 0;
}
.navbar-section header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section header nav .logo {
  width: 100px;
  height: 61px;
}
.navbar-section header nav .logo .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 576px) {
  .navbar-section header nav .logo {
    width: 154px;
    height: 61px;
  }
}
.navbar-section header nav .nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
@media (min-width: 992px) {
  .navbar-section header nav .nav-left {
    width: 75%;
  }
}
.navbar-section header nav .nav-left .menu-items {
  display: none;
}
@media (min-width: 992px) {
  .navbar-section header nav .nav-left .menu-items {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}
.navbar-section header nav .nav-left .menu-items li a {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
}
.navbar-section header nav .nav-left .menu-items .active-menu {
  font-weight: 700;
}
.navbar-section header nav .nav-left .menu-left {
  display: flex;
  gap: 12px;
  align-items: center;
}
.navbar-section header nav .nav-left .menu-left li a {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 20px;
}
.navbar-section header nav .nav-left .menu-left .btn-login,
.navbar-section header nav .nav-left .menu-left .btn-register {
  display: none;
}
@media (min-width: 576px) {
  .navbar-section header nav .nav-left .menu-left .btn-login,
  .navbar-section header nav .nav-left .menu-left .btn-register {
    display: block;
  }
}
.navbar-section header nav .btn-register, .navbar-section header nav .btn-login:hover {
  background: #179800;
  color: white;
}
@media (min-width: 992px) {
  .navbar-section header nav .menu-toggle-button {
    display: none;
  }
}
.navbar-section header nav .menu-toggle-button button {
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 20px;
  outline: none;
  color: black;
  font-weight: bold;
}

#mainContent.mobile-nav-active {
  background-color: #179800;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: -webkit-backdrop-filter ease 0.3s;
  transition: backdrop-filter ease 0.3s;
  transition: backdrop-filter ease 0.3s, -webkit-backdrop-filter ease 0.3s;
}

.nav-for-mobile {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #179800;
  top: 83px;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@media (min-width: 576px) {
  .nav-for-mobile {
    width: 400px;
    right: 64px;
  }
}
.nav-for-mobile.active {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}
.nav-for-mobile ul {
  padding: 20px 0px;
  font-size: 20px;
  text-align: center;
}
.nav-for-mobile ul li a {
  color: white;
}
.nav-for-mobile ul li .btn-login {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.nav-for-mobile ul li .btn-login:hover {
  background-color: #ffffff;
  color: black;
}
.nav-for-mobile ul li .btn-register, .nav-for-mobile ul li .navbar-section header nav .btn-login:hover, .navbar-section header nav .nav-for-mobile ul li .btn-login:hover {
  background-color: #ffffff;
  margin-top: 8px;
}
@media (min-width: 576px) {
  .nav-for-mobile ul li .btn-login,
  .nav-for-mobile ul li .btn-register,
  .nav-for-mobile ul li .navbar-section header nav .btn-login:hover,
  .navbar-section header nav .nav-for-mobile ul li .btn-login:hover {
    display: none;
  }
}

.banner-section {
  width: 100%;
  height: auto;
  background: #ffffff;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(244, 242, 237) 50%, rgb(240, 236, 228) 100%);
}
.banner-section .banner-container {
  width: 80%;
  margin: auto;
}
.banner-section .banner-container .banner-image {
  width: 100%;
  margin: auto;
}
@media (min-width: 992px) {
  .banner-section .banner-container .banner-image {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .banner-section .banner-container .banner-image {
    width: 80%;
  }
}
.banner-section .banner-container .banner-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -6px;
}
.banner-section .banner-heading {
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
}
@media (min-width: 992px) {
  .banner-section .banner-heading {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .banner-section .banner-heading {
    width: 90%;
  }
}
.banner-section .banner-heading .title-highlight {
  color: #179800;
}
.banner-section .banner-heading p {
  padding: 0 40px;
  text-align: center;
}
@media (min-width: 992px) {
  .banner-section .banner-heading p {
    padding: 0 164px;
  }
}
@media (min-width: 768px) {
  .banner-section .banner-heading p {
    padding: 0 50px;
  }
}

.service-container .services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}
@media (min-width: 768px) {
  .service-container .services {
    flex-direction: row;
  }
}
.service-container .services .service {
  width: 95%;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #efebe3;
  align-content: center;
  text-align: center;
  padding: 8px 12px;
}
@media (min-width: 768px) {
  .service-container .services .service {
    width: 424px;
    height: 367px;
  }
}
.service-container .services .service .service-img {
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 50%;
}
.service-container .services .service .service-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}
.service-container .services .service h4 {
  margin-top: 20px;
}

.popular-product-section {
  width: 100%;
  height: auto;
  margin-top: 130px;
  background: linear-gradient(-90deg, rgb(244, 242, 237) 0%, rgb(239, 235, 227) 50%, rgb(240, 236, 228) 100%);
}
.popular-product-section .container .popular-product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  padding-bottom: 100px;
}
@media (min-width: 992px) {
  .popular-product-section .container .popular-product-content {
    flex-direction: row;
  }
}
.popular-product-section .container .popular-product-content .popular-products-offer {
  width: 100%;
  height: 402px;
  background: #53db3a;
  background: linear-gradient(to bottom right, rgb(23, 152, 0) 0%, rgb(131, 229, 114) 50%, rgb(229, 250, 226) 100%);
  position: relative;
  border-radius: 12px;
}
@media (min-width: 992px) {
  .popular-product-section .container .popular-product-content .popular-products-offer {
    width: 32%;
  }
}
.popular-product-section .container .popular-product-content .popular-products-offer .offer-text {
  padding: 18px;
}
.popular-product-section .container .popular-product-content .popular-products-offer .offer-text h4 {
  margin-top: 20px;
  color: #ffffff;
}
.popular-product-section .container .popular-product-content .popular-products-offer .offer-text p {
  margin-top: 20px;
  color: rgba(17, 17, 17, 0.7);
}
.popular-product-section .container .popular-product-content .popular-products-offer .offer-text button {
  background-color: #ffffff;
  color: #1f1f1f;
}
.popular-product-section .container .popular-product-content .popular-products-offer .offer-text button:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.popular-product-section .container .popular-product-content .popular-products-offer .offer-img img {
  position: absolute;
  width: 210px;
  height: 265px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.popular-product-section .container .popular-product-content .popular-products {
  width: 100%;
  height: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 576px) {
  .popular-product-section .container .popular-product-content .popular-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .popular-product-section .container .popular-product-content .popular-products {
    width: 68%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .popular-product-section .container .popular-product-content .popular-products {
    width: 68%;
    grid-template-columns: repeat(3, 1fr);
    height: 402px;
  }
}
.popular-product-section .container .popular-product-content .popular-products .popular-product {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #ffffff;
  width: auto;
  height: 118px;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  transition: ease 0.3s;
}
.popular-product-section .container .popular-product-content .popular-products .popular-product:hover {
  transform: scale(1.05);
}
.popular-product-section .container .popular-product-content .popular-products .popular-product img {
  width: 100px;
  height: 86px;
  background-color: transparent;
  border-radius: 12px;
}
.popular-product-section .container .popular-product-content .popular-products .popular-product .product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.popular-product-section .container .popular-product-content .popular-products .popular-product .product-info i {
  color: yellow;
}

.arival-offer-section .container .arival-offer-container {
  display: flex;
  gap: 10px;
}
.arival-offer-section .container .arival-offer-container .arival-offer-left {
  width: 50%;
  height: 344px;
  background-color: #115414;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}
.arival-offer-section .container .arival-offer-container .arival-offer-left .arival-offer-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.arival-offer-section .container .arival-offer-container .arival-offer-left .arival-offer-left-content button {
  border: none;
  background-color: #63b76d;
  color: #ffffff;
}
.arival-offer-section .container .arival-offer-container .arival-offer-left .arival-offer-left-content p {
  font-size: 24px;
  color: #ffffff;
}
.arival-offer-section .container .arival-offer-container .arival-offer-left .arival-offer-left-content p span {
  font-weight: 700;
}
.arival-offer-section .container .arival-offer-container .arival-offer-right {
  width: 50%;
  height: 344px;
  background-color: #102861;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}
.arival-offer-section .container .arival-offer-container .arival-offer-right .arival-offer-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.arival-offer-section .container .arival-offer-container .arival-offer-right .arival-offer-right-content button {
  border: none;
  background-color: #2a4d97;
  color: #ffffff;
}
.arival-offer-section .container .arival-offer-container .arival-offer-right .arival-offer-right-content p {
  font-size: 24px;
  color: #ffffff;
}
.arival-offer-section .container .arival-offer-container .arival-offer-right .arival-offer-right-content p span {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */