@forward "./base/index";
@use "utils" as *;
@use "./base/index" as baseIndex;
@use "./utils/index" as utilIndex;

.btn {
  border: 1px solid utilIndex.$primary;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: ease 0.3s;
  background: none;
}
.section-heading {
  padding-top: 80px;
  @include utilIndex.min-width("md") {
    padding-top: 100px;
  }
  padding-bottom: 48px;
  font-weight: utilIndex.$semibold;
  color: utilIndex.$primary;
}
.navbar-section {
  min-height: 80px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 242, 237, 1) 50%,
    rgb(240, 236, 228) 100%
  );
  position: sticky;
  z-index: 100;
  align-content: center;
  top: 0;
  header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 100px;
        height: 61px;
        .logo img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      @include utilIndex.min-width("sm") {
        .logo {
          width: 154px;
          height: 61px;
        }
      }
      .nav-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        @include utilIndex.min-width("lg") {
          width: 75%;
        }
        .menu-items {
          display: none;
          @include utilIndex.min-width("lg") {
            display: flex;
            gap: 12px;
            align-items: center;
          }
          li a {
            color: utilIndex.$textColor;
            font-weight: map-get(utilIndex.$font-weights, "medium");
            font-size: 20px;
          }
          .active-menu {
            font-weight: map-get(utilIndex.$font-weights, "bold");
          }
        }
        .menu-left {
          display: flex;
          gap: 12px;
          align-items: center;
          li a {
            color: utilIndex.$textColor;
            font-weight: map-get(utilIndex.$font-weights, "medium");
            font-size: 20px;
          }
          .btn-login,
          .btn-register {
            display: none;
          }
          .btn-login,
          .btn-register {
            @include utilIndex.min-width("sm") {
              display: block;
            }
          }
        }
      }
      .btn-login {
        @extend .btn;
      }
      .btn-login:hover {
        @extend .btn-register;
      }
      .btn-register {
        @extend .btn;
        background: utilIndex.$primary;
        color: white;
      }
      .menu-toggle-button {
        @extend .btn;
        @include utilIndex.min-width("lg") {
          display: none;
        }
        button {
          cursor: pointer;
          border: none;
          padding: 0;
          font-size: 20px;
          outline: none;
          color: black;
          font-weight: bold;
        }
      }
    }
  }
}
#mainContent.mobile-nav-active {
  background-color: #179800;
  opacity: 0.5;
  backdrop-filter: blur(4px);
  transition: backdrop-filter ease 0.3s;
}
// Nav for Mobile
.nav-for-mobile {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #179800;
  top: 83px;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  @include utilIndex.min-width("sm") {
    width: 400px;
    right: 64px;
  }
  &.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
  }
  ul {
    padding: 20px 0px;
    font-size: 20px;
    text-align: center;

    li a {
      color: white;
    }
    li .btn-login {
      @extend .btn;
      border: 1px solid utilIndex.$nutral;
      color: utilIndex.$nutral;
    }
    li .btn-login:hover {
      background-color: utilIndex.$nutral;
      color: black;
    }
    li .btn-register {
      @extend .btn;
      background-color: utilIndex.$nutral;
      margin-top: 8px;
    }
    li .btn-login,
    li .btn-register {
      @include utilIndex.min-width("sm") {
        display: none;
      }
    }
  }
}
// Main content
.banner-section {
  width: 100%;
  height: auto;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 242, 237, 1) 50%,
    rgb(240, 236, 228) 100%
  );
  .banner-container {
    width: 80%;
    margin: auto;
    .banner-image {
      width: 100%;
      margin: auto;
      @include utilIndex.min-width("lg") {
        width: 60%;
      }
      @include utilIndex.min-width("md") {
        width: 80%;
      }
      img {
        width: 100%;
        object-fit: cover;
        margin-bottom: -6px;
      }
    }
  }
  .banner-heading {
    width: 100%;
    @include utilIndex.min-width("lg") {
      width: 70%;
    }
    @include utilIndex.min-width("md") {
      width: 90%;
    }
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
    .title-highlight {
      color: utilIndex.$primary;
    }
    p {
      padding: 0 40px;
      text-align: center;
      @include utilIndex.min-width("lg") {
        padding: 0 164px;
      }
      @include utilIndex.min-width("md") {
        padding: 0 50px;
      }
    }
  }
}

// Services Section
.service-container {
  h3 {
    @extend .section-heading;
  }
  .services {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    @include utilIndex.min-width("md") {
      flex-direction: row;
    }
    .service {
      width: 95%;
      margin: 0 auto;
      @include utilIndex.min-width("md") {
        width: 424px;
        height: 367px;
      }
      border-radius: utilIndex.$rounded-xl;
      background-color: #efebe3;
      align-content: center;
      text-align: center;
      padding: 8px 12px;
      .service-img {
        width: 150px;
        height: 150px;
        margin: auto;
        background-color: utilIndex.$nutral;
        border-radius: utilIndex.$rounded-full;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding: 10px;
        }
      }
      h4 {
        margin-top: 20px;
      }
    }
  }
}
// Popular Product Section
.popular-product-section {
  width: 100%;
  height: auto;
  margin-top: 130px;
  background: linear-gradient(
    -90deg,
    rgba(244, 242, 237, 1) 0%,
    rgb(239, 235, 227, 1) 50%,
    rgb(240, 236, 228) 100%
  );
  .container {
    h3 {
      @extend .section-heading;
    }
    .popular-product-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      height: auto;
      padding-bottom: 100px;
      @include utilIndex.min-width("lg") {
        flex-direction: row;
      }
      .popular-products-offer {
        width: 100%;
        height: 402px;
        @include utilIndex.min-width("lg") {
          width: 32%;
        }
        background: #53db3a;
        background: linear-gradient(
          to bottom right,
          rgba(23, 152, 0, 1) 0%,
          rgba(131, 229, 114, 1) 50%,
          rgba(229, 250, 226, 1) 100%
        );
        position: relative;
        border-radius: utilIndex.$rounded-xl;
        .offer-text {
          padding: 18px;
          h4 {
            margin-top: 20px;
            color: utilIndex.$nutral;
          }
          p {
            margin-top: 20px;
            color: rgb(17, 17, 17, 0.7);
          }
          button {
            @extend .btn;
            background-color: utilIndex.$nutral;
            color: utilIndex.$textColor;
            &:hover {
              background-color: transparent;
              border: 1px solid utilIndex.$nutral;
              color: utilIndex.$nutral;
            }
          }
        }
        .offer-img img {
          position: absolute;
          width: 210px;
          height: 265px;
          right: 0;
          bottom: 0;
          overflow: hidden;
        }
      }
      .popular-products {
        width: 100%;
        height: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        @include utilIndex.min-width("sm") {
          grid-template-columns: repeat(2, 1fr);
        }
        @include utilIndex.min-width("lg") {
          width: 68%;
          grid-template-columns: repeat(2, 1fr);
        }
        @include utilIndex.min-width("xl") {
          width: 68%;
          grid-template-columns: repeat(3, 1fr);
          height: 402px;
        }
        .popular-product {
          display: flex;
          gap: 10px;
          align-items: center;
          background-color: utilIndex.$nutral;
          width: auto;
          height: 118px;
          border-radius: utilIndex.$rounded-xl;
          padding: 16px;
          cursor: pointer;
          transition: ease 0.3s;
          &:hover {
            transform: scale(1.05);
          }
          img {
            width: 100px;
            height: 86px;
            background-color: transparent;
            border-radius: utilIndex.$rounded-xl;
          }
          .product-info {
            display: flex;
            flex-direction: column;
            text-align: left;
            i {
              color: yellow;
            }
          }
        }
      }
    }
  }
}

// Arival Offer
.arival-offer-section {
  .container {
    h3 {
      @extend .section-heading;
    }
    .arival-offer-container {
      display: flex;
      gap: 10px;
      .arival-offer-left {
        width: 50%;
        height: 344px;
        background-color: utilIndex.$secondary;
        border-radius: utilIndex.$rounded-xl;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        overflow: hidden;
        .arival-offer-left-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 40px;
          button {
            @extend .btn;
            border: none;
            background-color: utilIndex.$secondaryFilter;
            color: utilIndex.$nutral;
          }
          p {
            font-size: utilIndex.$base-font-size * 1.5;
            color: utilIndex.$nutral;
            span {
              font-weight: utilIndex.$bold;
            }
          }
        }
      }
      .arival-offer-right {
        width: 50%;
        height: 344px;
        background-color: utilIndex.$coolBlack;
        border-radius: utilIndex.$rounded-xl;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        overflow: hidden;
        .arival-offer-right-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 40px;
          button {
            @extend .btn;
            border: none;
            background-color: utilIndex.$coolBlackFilter;
            color: utilIndex.$nutral;
          }
          p {
            font-size: utilIndex.$base-font-size * 1.5;
            color: utilIndex.$nutral;
            span {
              font-weight: utilIndex.$bold;
            }
          }
        }
      }
    }
  }
}
